/* tailwind customizing screen */
body{
    background-color: aqua;
}
/*width is less than height*/
 /* @media (orientation: portrait)  
 {
    body{
        background-color: red;
    }
 }

@media (width <= 500px){
    body{
        background-color: red;
    }
} */

/* max=width is an alternative to width <= ---px */
/* min - greater than equal to */
/* max - less than equal to */
@media (min-width: 500px) and (max-width: 600px){ 
    body{
        background-color: red;
    }
}
@media (width <= 300px){
    body{
        background-color: green;
    }
}