/* Zuga.net > articles > HTML heading elements */
main{
    border: 2px solid brown;
    /* border-radius: 5%; */
    width: 50%;
    /* %, vw (view width), vh (view height), px (pixels), em, rem(root element) */
    /* width: 50vw; */

}
/* By default  */
/* html{
    font-size: 1em;
} */

section{
    border: 4px dotted rgb(160, 184, 26);
    /* height: 150vh; */
    width: 70vw;
}
body{
    /* font-size: 4em; */
}
h2{
    /* font-size: 30px; */
    font-size: 2rem;   
    /* rem means using parent as root else it will get 4 * 2 em */
}